# población campesina víctima y población campesina nacional
## Informe 
Creado por ivan gabriel corredor
12_06_2024

In [654]:
import numpy as np
import pandas as pd

In [655]:
coding: "latin-1"

In [656]:
#pd.options.display.max_info_rows= 50
pd.options.display.float_format = '{:.2f}'.format 
pd.options.display.max_rows = None
pd.options.display.max_columns = None
#pd.options.display.max_colwidth = 300

## Cargue

In [658]:
## ruta entrada
p1 = "E:/GEIH/salidas/"
## ruta salida
p2 = "E:/GEIH/salidas/informes/"

In [659]:
# cargue base 2022
df_vic = pd.read_csv(p1 + "geih_vic_22.csv", sep = ";", decimal=",", low_memory=False)

## Procesamiento

In [661]:
# asignar formato correcto a las variables
names = ['CAMPESINA', 'P2059', 'ES_VICTIMA', 'FEX_C_VIV', 'ES_DESPLAZADO', 'FEX_C18', 
         'PET', 'FT_x', 'FFT_x', 'FFT_y', 'FT_y', 'OCI', 'DSI']
for i in names:
    df_vic[i] = pd.to_numeric(df_vic[i], errors='coerce')

In [662]:
df_vic['CAMPESINA'].value_counts()

CAMPESINA
0    738952
1    172923
9      7584
Name: count, dtype: int64

In [663]:
# renombrar variables
df_vic.rename(columns = {"P3271":"SEXO", "P6040":"EDAD", "P6080":"ETNIA"}, 
              inplace = True)

# Cálculo de variables

### Campensina

In [666]:
# crear variable campesina
def camp(df):
    if df["CAMPESINA"]==1:
        x = 1
    else:
        x= 0
    return(x)
df_vic["CAMPESINA_2"] = df_vic.apply(camp, axis = 1)

In [667]:
df_vic['CAMPESINA_2'].value_counts()

CAMPESINA_2
0    746536
1    172923
Name: count, dtype: int64

### No campesina

In [669]:
# crear variable no campesina
def ncamp(df):
    if df["CAMPESINA"]!=1:
        x = 1
    else:
        x= 0
    return(x)
df_vic["NO_CAMPESINA"] = df_vic.apply(ncamp, axis = 1)

### Fueron campesinos

In [671]:
# crear variable fueron campesinos
def fcamp(df):
    if df["P2059"]==1:
        x = 1
    else:
        x= 0
    return(x)
df_vic["FUERON_CAMPE"] = df_vic.apply(fcamp, axis = 1)

### Víctima

In [673]:
# rellenar valores nulos de la variable víctima
df_vic['ES_VICTIMA'] = df_vic['ES_VICTIMA'].fillna(0)

In [674]:
df_vic['ES_VICTIMA'].isna().sum()

0

In [675]:
# crear variable no VÍCTIMA
def nvic(df):
    if df["ES_VICTIMA"]!=1:
        x = 1
    else:
        x= 0
    return(x)
df_vic["NO_VICTIMA"] = df_vic.apply(nvic, axis = 1)

In [676]:
df_vic['NO_VICTIMA'].value_counts()

NO_VICTIMA
1    796190
0    123269
Name: count, dtype: int64

### Grupo etario

In [678]:
def rang_ed(df):
    if df["EDAD"]<=5:
        x = "Entre 0 y 5 años"
    elif (df["EDAD"]>5 and df["EDAD"]<=11):
        x = "Entre 6 y 11 años"
    elif (df["EDAD"]>11 and df["EDAD"]<=17):
        x = "Entre 12 y 17 años"
    elif (df["EDAD"]>17 and df["EDAD"]<=28):
        x = "Entre 18 y 28 años"
    elif (df["EDAD"]>28 and df["EDAD"]<=59):
        x = "Entre 29 y 59 años"
    else:
        x = "60 años o más"
    return x
                                                                                                                        
df_vic["GRUPO_ETARIO"] = df_vic.apply(rang_ed, axis = 1)

### Discapacidad

In [680]:
def disc(df):
    columns_to_check = ["P1906S1", "P1906S2", "P1906S3", "P1906S4",
                        "P1906S5", "P1906S6", "P1906S7", "P1906S8"]
    
    for col in columns_to_check:
        if df[col] in [1, 2]:
            return "Si"
    return "No"

df_vic["DISCAPACIDAD"] = df_vic.apply(disc, axis=1)

# the same function is this:
# def disc(df):
#     if df["P1906S1"] in [1,2]:
#         x = "Si"
#     elif df["P1906S2"] in [1,2]:
#         x = "Si"
#     elif df["P1906S3"] in [1,2]:
#         x = "Si"
#     elif df["P1906S4"] in [1,2]:
#         x = "Si"
#     elif df["P1906S5"] in [1,2]:
#         x = "Si"
#     elif df["P1906S6"] in [1,2]:
#         x = "Si"
#     elif df["P1906S7"] in [1,2]:
#         x = "Si"
#     elif df["P1906S8"] in [1,2]:
#         x = "Si"
#     else:
#         x = "No"
#     return x

In [681]:
df_vic["DISCAPACIDAD"].value_counts()

DISCAPACIDAD
No    873210
Si     46249
Name: count, dtype: int64

## Departamento

In [683]:
# departamento
print(len(list(df_vic["DPTO"].unique())))

33

In [684]:
df_vic["NOMBRE_DPTO"] = df_vic["DPTO"].replace([5, 8, 11, 13, 15, 17, 18, 19, 20, 23, 25, 27, 
                                                   41, 44, 47, 50, 52, 54, 63, 66, 68, 70, 73, 76,
                                                   81, 85, 86, 88, 91, 94, 95, 97, 99],
                                                   ["Antioquia", "Atlántico", "Bogotá", "Bolívar", "Boyacá",
                                                    "Caldas", "Caquetá", "Cauca", "Cesar", "Córdoba", "Cundinamarca",
                                                    "Chocó", "Huila", "La Guajira", "Magdalena", "Meta", "Nariño",
                                                    "Norte de Santander", "Quindio", "Risaralda", "Santander",
                                                    "Sucre", "Tolima", "Valle del Cauca", "Arauca", "Casanare",
                                                    "Putumayo", "Providencia y Santa Catalina", "Amazonas",
                                                    "Guainía", "Guaviare", "Vaupés", "Vichada"])

In [685]:
# names departamento
print(list(df_vic["NOMBRE_DPTO"].unique()))

['Atlántico', 'Bolívar', 'Cundinamarca', 'Caquetá', 'Boyacá', 'Valle del Cauca', 'Quindio', 'Risaralda', 'Antioquia', 'Bogotá', 'Caldas', 'Cauca', 'Cesar', 'Córdoba', 'Huila', 'La Guajira', 'Meta', 'Nariño', 'Norte de Santander', 'Santander', 'Sucre', 'Casanare', 'Putumayo', 'Guainía', 'Guaviare', 'Vaupés', 'Tolima', 'Arauca', 'Providencia y Santa Catalina', 'Chocó', 'Magdalena', 'Amazonas', 'Vichada']

In [686]:
# agregar ceros a la izquierda para completar el código
df_vic["DPTO"] = df_vic["DPTO"].astype(str).str.zfill(2)

## Ciudades capitales

In [688]:
print(list(df_vic["AREA"].unique()))

[nan, '5.0', '8.0', '11.0', '13.0', '15.0', '17.0', '18.0', '19.0', '20.0', '23.0', '41.0', '44.0', '50.0', '52.0', '54.0', '63.0', '66.0', '68.0', '70.0', '76.0', '73.0', '88.0', '27.0', '47.0']

In [689]:
df_vic["AREA"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 919459 entries, 0 to 919458
Series name: AREA
Non-Null Count   Dtype
--------------   -----
627349 non-null  object
dtypes: object(1)
memory usage: 7.0+ MB

In [690]:
# ciudades capitales
df_vic["CIUDAD"] = pd.to_numeric(df_vic["AREA"], errors = 'coerce').replace([5, 8, 11, 13, 15,
                                           17, 18, 19, 20, 23,
                                           27, 41, 44, 47, 50, 
                                           52, 54, 63, 66, 68, 
                                           70, 73, 76, 88],
                                           ["Medellín AM", "Barranquilla AM", "Bogotá DC", "Cartagena", "Tunja",
                                            "Manizales AM", "Florencia", "Popayán", "Valledupar", "Montería",
                                            "Quibdó", "Neiva", "Riohacha", "Santa Marta", "Villavicencio",
                                            "Pasto", "Cúcuta AM", "Armenia", "Pereira", "Bucaramanga AM",
                                            "Sincelejo", "Ibagué", "Cali AM", "Providencia y Santa Catalina" 
                                            ])

In [691]:
print(list(df_vic["CIUDAD"].unique()))

[nan, 'Medellín AM', 'Barranquilla AM', 'Bogotá DC', 'Cartagena', 'Tunja', 'Manizales AM', 'Florencia', 'Popayán', 'Valledupar', 'Montería', 'Neiva', 'Riohacha', 'Villavicencio', 'Pasto', 'Cúcuta AM', 'Armenia', 'Pereira', 'Bucaramanga AM', 'Sincelejo', 'Cali AM', 'Ibagué', 'Providencia y Santa Catalina', 'Quibdó', 'Santa Marta']

In [692]:
# agregar código_DANE 
df_vic["COD_DANE"]= df_vic["CIUDAD"].replace(["Medellín AM", "Barranquilla AM", "Bogotá DC", "Cartagena", "Tunja",
                                            "Manizales AM", "Florencia", "Popayán", "Valledupar", "Montería",
                                            "Quibdó", "Neiva", "Riohacha", "Santa Marta", "Villavicencio",
                                            "Pasto", "Cúcuta AM", "Armenia", "Pereira", "Bucaramanga AM",
                                            "Sincelejo", "Ibagué", "Cali AM", "Providencia y Santa Catalina" 
                                            ],
                                             [ 5001, 8001, 11001, 13001, 15001,
                                              17001, 18001, 19001, 20001, 23001,
                                              27001, 41001, 44001, 47001, 50001,
                                              52001, 54001, 63001, 66001,  68001,
                                              70001, 73001, 76001, 88001
                                             ])

In [693]:
print(list(df_vic["COD_DANE"].unique()))

[nan, 5001.0, 8001.0, 11001.0, 13001.0, 15001.0, 17001.0, 18001.0, 19001.0, 20001.0, 23001.0, 41001.0, 44001.0, 50001.0, 52001.0, 54001.0, 63001.0, 66001.0, 68001.0, 70001.0, 76001.0, 73001.0, 88001.0, 27001.0, 47001.0]

In [694]:
df_vic["COD_DANE"] = pd.to_numeric(df_vic["COD_DANE"], downcast='integer', errors= 'coerce').astype(pd.Int32Dtype())

In [695]:
# agregar ceros a la izquierda para completar el código
#df_vic["COD_DANE"] = pd.to_numeric(df_vic["COD_DANE"], errors= 'coerce').astype(str).str.zfill(5)
df_vic["COD_DANE"] = df_vic["COD_DANE"].apply(lambda x: str(int(x)).zfill(5) if pd.notnull(x) else x)

In [696]:
print(list(df_vic["COD_DANE"].unique()))

[<NA>, '05001', '08001', '11001', '13001', '15001', '17001', '18001', '19001', '20001', '23001', '41001', '44001', '50001', '52001', '54001', '63001', '66001', '68001', '70001', '76001', '73001', '88001', '27001', '47001']

## Vivienda

In [701]:
## descripción variables:
# CLASE: 1 urbano, 2 rural
# Hogar: posición del hogar en la vivienda
# P4000: tipo de vivienda, se exlucye la Vivienda indígena op (5)
# P4010: material de las paredes exteriores
# P4020: material de los pisos
# P4030: servicios con que cuenta la vivienda
# P4030S1: energía eléctrica
# P4030S3: alcantarillado
# P4030S4: recoelcción de basura
# P4030S5: servicios con que cuenta la vivienda, acueducto
# P5020: servicio sanitario del hogar
# P5050: de donde obtiene el hogar el agua para consumo humano
# P5070: lugar donde el hogar prepara alimentos
# P70: No. hogares en la vivienda
# P6008: total de personas en el hogar
# P5000: total de cuartos que dispone el hogar
# P5010: No. cuartos usados por el hogar para dormir

### Componentes cuanti

In [703]:
### Estructura – Tipo de vivienda

df_vic["TIPO_VIVIENDA"] = (df_vic["P4000"] == 6).astype(int)

### Material paredes exteriores
df_vic["MATERIAL_PAREDES"] = df_vic["P4010"].isin([5, 7, 8, 9]) & (df_vic["P4000"]!=5).astype(int)

### Cohabitación

# Se consideran en déficit los hogares que habitan en una vivienda en la que
# hay tres o más hogares.

# En cabeceras y centros poblados:
# hay más de 6 personas en total en la vivienda. 

# En los dos casos, no se consideran los hogares principales y unipersonales

group_sizes = df_vic.groupby("DIRECTORIO").size()

def coha(row, group_sizes):
    if  row["P4000"]!=5 and row["P70"] >= 3 and row["HOGAR"]!= 1 and row["P6008"]!= 1:
        return 1
    elif row["P4000"]!=5 and row["P70"] == 2 and row["CLASE"] == 1 and group_sizes[row["DIRECTORIO"]] > 6 and row["HOGAR"] != 1 and row["P6008"]!= 1:
        return 1
    else:
        return 0
# lambda actua para que apply solo reciba un argumento, pero coha recibe dos dataframes, el completo y el agrupado
df_vic["COHABITACION"] = df_vic.apply(lambda row: coha(row, group_sizes), axis=1)

### Hacinamiento no mitigable
# personas por cuarto
df_vic["PER_CUARTO"] = df_vic["P6008"] / df_vic["P5010"]

df_vic["HACI_NO_MITI"] = ((df_vic["CLASE"] == 1) & (df_vic["PER_CUARTO"] > 4)  & (df_vic["P4000"]!=5)).astype(int)
# Se ajusta a la zona rural, hogares con más de cuatro personas por cuarto para dormir.
#df_vic["HACI_NO_MITI"] = df_vic.apply(lambda x: 1 if x["CLASE"]==2 and (x["ORDEN"] / x["P5010"])>4 else 0, axis=1)

### Déficit Cuantitativo

In [705]:
df_vic["DEF_CUANTI"] = ((df_vic["TIPO_VIVIENDA"]== 1) |
                        (df_vic["MATERIAL_PAREDES"]== 1) | 
                        (df_vic["COHABITACION"]== 1) | 
                        (df_vic["HACI_NO_MITI"]== 1)).astype(int)

In [706]:
df_vic["DEF_CUANTI"].value_counts()

DEF_CUANTI
0    846837
1     72622
Name: count, dtype: int64

In [707]:
df_vic[df_vic["DIRECTORIO"]==5001031][["DIRECTORIO","HOGAR","CLASE",  "P70",
                                       "P6008", "P5000", "P5010", "COHABITACION"]]

      DIRECTORIO  HOGAR  CLASE  P70  P6008  P5000  P5010  COHABITACION
2460     5001031      1      1    2      5      4      3             0
2461     5001031      1      1    2      5      4      3             0
2462     5001031      1      1    2      5      4      3             0
2463     5001031      1      1    2      5      4      3             0
2464     5001031      1      1    2      5      4      3             0
2465     5001031      2      1    2      4      4      3             1
2466     5001031      2      1    2      4      4      3             1
2467     5001031      2      1    2      4      4      3             1
2468     5001031      2      1    2      4      4      3             1

### Componentes cuali

In [709]:
### Hacinamiento mitigable
condicion1 = ((df_vic["CLASE"] == 1) & 
              ## para variables discretas usar between
              #(df_vic["PER_CUARTO"].between(3, 4, inclusive="both")) &
              ((df_vic["PER_CUARTO"]>2) & (df_vic["PER_CUARTO"]<=4)) & 
              (df_vic["P4000"]!=5))

condition2 = ((df_vic["CLASE"] == 2) &
              (df_vic["P4000"]!=5) &
              (df_vic["PER_CUARTO"] > 2))

df_vic["HACI_MITI"] = (condicion1 | condition2).astype(int)

### Material de los pisos
df_vic["MAT_PISOS"] = ((df_vic["P4000"]!=5) & (df_vic["P4020"]==1)).astype(int)

### Cocina
con_coci1 = ((df_vic["CLASE"] == 1) & 
              (df_vic["P5070"].isin([2, 4, 5])) &
              (df_vic["P4000"]!=5))
con_coci2 = ((df_vic["CLASE"] == 2) & 
              (df_vic["P5070"].isin([2, 4])) &
              (df_vic["P4000"]!=5))
df_vic["COCINA"] = (con_coci1 | con_coci2).astype(int)

### Acueducto
con_acue1 = ((df_vic["CLASE"] == 1) & 
              (df_vic["P4030S5"]==2) &
              (df_vic["P4000"]!=5))
con_acue2 = ((df_vic["CLASE"] == 2) & 
              (df_vic["P5050"].isin([4,5,6,8,9,10])) &
              (df_vic["P4000"]!=5))
df_vic["ACUEDUCTO"] = (con_acue1 | con_acue2).astype(int)

# Alcantarillado
con_alca1 = ((df_vic["CLASE"] == 1) & 
              (df_vic["P4030S3"]==2) &
              (df_vic["P4000"]!=5))

con_alca2 = ((df_vic["CLASE"] == 1) & 
              (df_vic["P4030S3"]==1) &
             (df_vic["P5020"].isin([2,3,4,5,6])) &
              (df_vic["P4000"]!=5))

con_alca3 = ((df_vic["CLASE"] == 2) & 
              (df_vic["P5020"].isin([3,4,5,6])) &
              (df_vic["P4000"]!=5))
df_vic["ALCANTARILLADO"] = (con_alca1 | con_alca2 | con_alca3).astype(int)

### Energía
df_vic["ENERGIA"] = ((df_vic["P4000"]!=5)  & 
                     (df_vic["P4030S1"]==2)).astype(int)

## Recolección de basuras
df_vic["BASURAS"] = ((df_vic["P4000"]!=5) & 
                     (df_vic["CLASE"] == 1) &
                     (df_vic["P4030S4"]==2)).astype(int)

### Déficit Cualitativo

In [711]:
df_vic["DEF_CUALI"] = ((df_vic["HACI_MITI"]== 1) |
                        (df_vic["MAT_PISOS"]== 1) | 
                        (df_vic["COCINA"]== 1) | 
                        (df_vic["ACUEDUCTO"]== 1) |
                        (df_vic["ALCANTARILLADO"]== 1) |
                        (df_vic["ENERGIA"]== 1) |
                        (df_vic["BASURAS"]== 1) ).astype(int)
# reemplazar los valores del deficit cualitativo en los hogares con doble déficit
df_vic.loc[(df_vic["DEF_CUALI"] == 1) & (df_vic["DEF_CUANTI"] == 1), "DEF_CUALI"] = 0

### Déficit habitacional

In [722]:
def df_hab(row):
    if row["DEF_CUANTI"]==1 and row["DEF_CUALI"]==0:
        x = 1
    elif row["DEF_CUANTI"]==0 and row["DEF_CUALI"]== 1:
        x = 1
    else:
        x = 0
    return x

df_vic["DEF_HABITACIONAL"] = df_vic.apply(df_hab, axis=1)

In [723]:
df_vic["DEF_CUALI"].value_counts()

DEF_CUALI
0    658810
1    260649
Name: count, dtype: int64

In [724]:
df_vic["DEF_CUANTI"].value_counts()

DEF_CUANTI
0    846837
1     72622
Name: count, dtype: int64

In [725]:
df_vic["DEF_HABITACIONAL"].value_counts() 
# comp1: 333271 continuas
# comp1: 282206 discretas

DEF_HABITACIONAL
0    586188
1    333271
Name: count, dtype: int64

## Exportar tabla con variables calculadas

In [1214]:
# se exporta otra base con las variables calculadas para correr modelos 
df_vic.to_csv(p1 + "geih_vic_22_b.csv", sep = ";", decimal=",")

# Resultados

## General

In [1212]:
df_vic[(df_vic['DIRECTORIO']==7309045) & (df_vic['SECUENCIA_P']==1) & (df_vic['ORDEN']==6)][['CAMPESINA_2', 'ES_VICTIMA', 'FEX_C_VIV', 'FEX_C18']]

        CAMPESINA_2  ES_VICTIMA  FEX_C_VIV  FEX_C18
919439            0        1.00      23.46   216.59

In [729]:
((df_vic["CAMPESINA_2"] * df_vic['FEX_C18']).sum()/12) / (df_vic['FEX_C18'].sum()/12) *100

29.48146718807391

In [730]:
(df_vic['FEX_C18'].sum()/12)

50495179.41666862

In [731]:
## agrupar los datos para sacar tabla y gráfica
camp_vt = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # vic totos los hechos
        '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
        'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
).reset_index()

camp_d = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # vic des
        '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
        'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
    })
).reset_index()

camp_nv = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # camp no vic
        '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
        'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
    })
).reset_index()

camp_nal = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # camp nal
        '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
        'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
    })
).reset_index()

from functools import reduce
# List of DataFrames to merge
frames_s = [camp_vt, camp_d, camp_nv, camp_nal]

# Use reduce to iteratively merge the DataFrames
campg = reduce(lambda left, right: pd.merge(left, right, on=["PER"]), frames_s)
campg

,PER,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,2022,50.80,4176086.96,51.50,3906834.42,26.40,11690949.83,29.50,14886719.75

### Muestrales

In [733]:
###
muestra1 = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # camp nal
        #'%_nal': round(((x["CAMPESINA_2"]).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
        'nal': round(((x["CAMPESINA_2"]).sum()), 3)
    })
).reset_index()
muestra1

    PER     nal
0  2022  172923

## Sexo, Etario, Discapacidad, Etnia

In [735]:
# lista de variables
l_var_enf = ["SEXO", "GRUPO_ETARIO", "DISCAPACIDAD", "ETNIA"]
tab_out1_enf = ["sex", "eta", "disca", "etnia"]

for i, j in zip(l_var_enf, tab_out1_enf): 
    # víctimas todos los hechos
    df1 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    frames_enf = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    exec(f"frames_{j} = frames_enf.copy()")
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on=[i]), eval(f"frames_{j}"))
    exec(f"{j}g = df5.copy()")
    # objetos de salida: sexg, etag, discag, etniag

## Territorial

### Zona Geográfica

In [738]:
## agrupar los datos para sacar tabla y gráfica
clas_vt = df_vic.groupby(["PER", "CLASE"]).apply(
    lambda x: pd.Series({
        # vic totos los hechos
        '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
        'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
).reset_index()

clas_d = df_vic.groupby(["PER", "CLASE"]).apply(
    lambda x: pd.Series({
        # vic des
        '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
        'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
    })
).reset_index()

clas_nv = df_vic.groupby(["PER", "CLASE"]).apply(
    lambda x: pd.Series({
        # clas no vic
        '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
        'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
    })
).reset_index()

clas_nal = df_vic.groupby(["PER", "CLASE"]).apply(
    lambda x: pd.Series({
        # clas nal
        '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
        'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
    })
).reset_index()

from functools import reduce
# List of DataFrames to merge
frames_clas = [clas_vt, clas_d, clas_nv, clas_nal]

# Use reduce to iteratively merge the DataFrames
clasg = reduce(lambda left, right: pd.merge(left, right, on=["PER", "CLASE"]), frames_clas)
clasg

,PER,CLASE,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,2022,1,27.40,1416005.36,27.80,1315221.50,11.90,4153526.89,13.50,5236539.61
1,2022,2,90.70,2760081.60,90.80,2591612.92,81.60,7537422.95,83.50,9650180.14

### Departamento

In [740]:
## agrupar los datos para sacar tabla y gráfica
dpto_vt = df_vic.groupby(["PER", "DPTO", "NOMBRE_DPTO"]).apply(
    lambda x: pd.Series({
        # vic totos los hechos
        '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
        'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
).reset_index()

dpto_d = df_vic.groupby(["PER", "DPTO", "NOMBRE_DPTO"]).apply(
    lambda x: pd.Series({
        # vic des
        '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
        'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
    })
).reset_index()

dpto_nv = df_vic.groupby(["PER", "DPTO", "NOMBRE_DPTO"]).apply(
    lambda x: pd.Series({
        # dpto no vic
        '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
        'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
    })
).reset_index()

dpto_nal = df_vic.groupby(["PER", "DPTO", "NOMBRE_DPTO"]).apply(
    lambda x: pd.Series({
        # dpto nal
        '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
        'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
    })
).reset_index()

from functools import reduce
# List of DataFrames to merge
frames_dpto = [dpto_vt, dpto_d, dpto_nv, dpto_nal]

# Use reduce to iteratively merge the DataFrames
dptog = reduce(lambda left, right: pd.merge(left, right, on=["PER", "DPTO", "NOMBRE_DPTO"]), frames_dpto)
dptog

C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\4191239823.py:5: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\4191239823.py:12: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),

,PER,DPTO,NOMBRE_DPTO,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,2022,05,Antioquia,49.80,775458.17,51.50,714984.61,26.10,1467104.54,30.20,2059873.86
1,2022,08,Atlántico,14.10,26048.29,13.80,24302.17,9.90,261567.94,10.20,281497.35
2,2022,11,Bogotá,4.50,16572.32,4.60,15104.93,1.70,127714.48,1.80,140371.64
3,2022,13,Bolívar,67.80,282304.62,68.00,277933.33,34.80,659227.45,39.60,876125.29
4,2022,15,Boyacá,61.60,24266.03,59.40,20277.15,60.90,788983.07,61.00,807401.50
5,2022,17,Caldas,49.90,60846.11,50.90,55247.45,25.70,242643.83,27.90,289102.05
6,2022,18,Caquetá,56.50,113703.07,56.50,107129.70,53.00,140908.25,54.20,227967.32
7,2022,19,Cauca,63.30,258610.61,64.90,237807.19,49.50,575468.79,52.40,773114.09
8,2022,20,Cesar,46.10,177509.42,46.40,170308.79,31.10,327276.86,34.40,463381.58
9,2022,23,Córdoba,63.90,259182.64,64.30,249252.51,56.90,909780.80,58.00,1108544.59
10,2022,25,Cundinamarca,52.80,129483.40,53.20,124130.39,34.30,1060604.29,35.40,1159878.95
11,2022,27,Chocó,83.80,308043.79,82.30,266466.58,66.80,217573.22,74.60,451950.20
12,2022,41,Huila,50.60,89870.49,51.40,83176.36,46.00,473869.85,46.60,542587.52
13,2022,44,La Guajira,40.20,60101.56,40.70,58752.05,28.70,249971.89,30.00,296122.47
14,2022,47,Magdalena,52.20,196122.46,53.20,191206.00,37.50,442560.12,40.40,593125.96
15,2022,50,Meta,41.80,116941.29,42.30,108494.63,28.40,265044.06,30.90,354477.34
16,2022,52,Nariño,81.60,481426.84,82.20,457263.24,64.40,776498.95,69.10,1145342.12
17,2022,54,Norte de Santander,51.70,159334.90,53.00,145619.86,21.60,311462.42,25.80,433179.44
18,2022,63,Quindio,23.60,11391.79,23.50,10195.39,14.40,76761.81,15.00,85450.61
19,2022,66,Risaralda,43.10,45478.64,43.20,39987.42,25.70,231296.46,27.10,265939.54
20,2022,68,Santander,29.30,64132.59,28.90,56032.75,26.80,589736.40,27.00,638566.77
21,2022,70,Sucre,61.90,231859.52,61.90,226394.46,52.80,365072.24,55.50,543095.56
22,2022,73,Tolima,57.20,112385.83,57.50,104258.04,40.40,500581.16,42.20,586529.92
23,2022,76,Valle del Cauca,25.20,175012.59,25.10,162509.44,14.50,581700.96,15.70,715554.08
24,2022,81,Arauca,NaN,0.00,NaN,0.00,17.50,15097.04,17.50,15097.04
25,2022,85,Casanare,NaN,0.00,NaN,0.00,6.80,10548.80,6.80,10548.80
26,2022,86,Putumayo,NaN,0.00,NaN,0.00,1.60,674.42,1.60,674.42
27,2022,88,Providencia y Santa Catalina,NaN,0.00,NaN,0.00,0.30,129.74,0.30,129.74
28,2022,91,Amazonas,NaN,0.00,NaN,0.00,0.90,349.93,0.90,349.93
29,2022,94,Guainía,NaN,0.00,NaN,0.00,5.80,1367.67,5.80,1367.67
30,2022,95,Guaviare,NaN,0.00,NaN,0.00,22.90,9281.29,22.90,9281.29
31,2022,97,Vaupés,NaN,0.00,NaN,0.00,24.00,2662.69,24.00,2662.69
32,2022,99,Vichada,NaN,0.00,NaN,0.00,46.20,7428.42,46.20,7428.42

### Ciudades

In [742]:
## agrupar los datos para sacar tabla y gráfica
ciud_vt = df_vic.groupby(["PER", "COD_DANE", "CIUDAD"]).apply(
    lambda x: pd.Series({
        # vic totos los hechos
        '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
        'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
).reset_index()

ciud_d = df_vic.groupby(["PER", "COD_DANE", "CIUDAD"]).apply(
    lambda x: pd.Series({
        # vic des
        '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
        'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
    })
).reset_index()

ciud_nv = df_vic.groupby(["PER", "COD_DANE", "CIUDAD"]).apply(
    lambda x: pd.Series({
        # ciud no vic
        '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
        'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
    })
).reset_index()

ciud_nal = df_vic.groupby(["PER", "COD_DANE", "CIUDAD"]).apply(
    lambda x: pd.Series({
        # ciud nal
        '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
        'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
    })
).reset_index()

from functools import reduce
# List of DataFrames to merge
frames_ciud = [ciud_vt, ciud_d, ciud_nv, ciud_nal]

# Use reduce to iteratively merge the DataFrames
ciudg = reduce(lambda left, right: pd.merge(left, right, on=["PER", "COD_DANE", "CIUDAD"]), frames_ciud)
ciudg

C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2157776485.py:5: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2157776485.py:12: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),

,PER,COD_DANE,CIUDAD,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,2022,05001,Medellín AM,4.30,25776.86,4.20,21570.74,1.60,56358.50,1.90,75925.62
1,2022,08001,Barranquilla AM,4.30,5828.36,4.30,5534.01,1.70,31630.64,1.80,36095.90
2,2022,11001,Bogotá DC,4.20,15530.63,4.40,14204.81,1.50,110417.51,1.60,122282.14
3,2022,13001,Cartagena,3.40,1963.39,3.40,1910.79,0.80,7150.69,0.90,8657.80
4,2022,15001,Tunja,12.10,539.04,12.50,477.24,11.30,19272.45,11.30,19683.26
5,2022,17001,Manizales AM,4.70,1372.93,4.90,1297.66,2.20,10061.82,2.30,11113.29
6,2022,18001,Florencia,12.10,9052.77,12.10,8523.63,6.20,6130.78,8.40,13061.85
7,2022,19001,Popayán,10.20,5146.17,10.70,4816.05,4.20,9765.75,5.10,13703.98
8,2022,20001,Valledupar,3.40,3709.69,3.40,3428.81,1.90,7463.18,2.10,10299.43
9,2022,23001,Montería,7.30,6469.17,7.50,6274.82,3.20,10756.14,3.90,15720.60
10,2022,27001,Quibdó,22.00,10207.33,21.80,9685.22,13.40,10462.63,16.10,18282.32
11,2022,41001,Neiva,2.30,1210.71,2.40,1162.02,1.10,3380.25,1.20,4308.58
12,2022,44001,Riohacha,0.80,314.84,0.70,266.81,0.80,947.29,0.80,1186.49
13,2022,47001,Santa Marta,1.50,1300.03,1.60,1278.33,0.50,2312.78,0.70,3311.51
14,2022,50001,Villavicencio,2.60,2471.46,2.70,2306.64,1.60,6905.94,1.70,8796.89
15,2022,52001,Pasto,8.70,3169.98,8.90,2840.59,6.60,18444.89,6.80,20862.94
16,2022,54001,Cúcuta AM,6.30,6623.10,6.40,5749.52,2.30,21147.60,2.60,26188.10
17,2022,63001,Armenia,5.90,1206.65,5.90,1082.39,2.40,6800.76,2.50,7721.26
18,2022,66001,Pereira,9.80,5336.84,9.80,4615.71,7.90,48172.42,8.00,52232.93
19,2022,68001,Bucaramanga AM,4.60,4314.82,4.80,4017.72,2.00,22444.97,2.10,25745.73
20,2022,70001,Sincelejo,3.70,3778.84,3.80,3765.13,2.10,3907.09,2.60,6813.21
21,2022,73001,Ibagué,5.10,2631.59,5.30,2592.05,2.00,9407.22,2.30,11429.17
22,2022,76001,Cali AM,6.70,15823.01,7.00,15237.58,2.30,49011.93,2.60,61147.69
23,2022,88001,Providencia y Santa Catalina,NaN,0.00,NaN,0.00,0.30,129.74,0.30,129.74

# Educación

In [744]:
# lista de variables
l_var_edu = [ "P6160", "P6170", "P3041", "P3042", "P3043"]
tab_out1_edu = [ "leer_escribir", "asiste_edu", "institucion", "nivel_edu", "titulo_edu"]

for i, j in zip(l_var_edu, tab_out1_edu): 
    # víctimas todos los hechos
    df1 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    frames_edu = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    exec(f"frames_{j} = frames_edu.copy()")
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on=[i]), eval(f"frames_{j}"))
    exec(f"{j}g = df5.copy()")
    # objetos de salida: leer_escribirg, asiste_edug, instituciong, nivel_edug, titulo_edug

### Asistencia enfoque

In [746]:
# lista de variables
l_var_edu2 = ["P6170", "P6170", "P6170", "P6170", "P3043"] # asistencia
l_var_edu_enf = ["SEXO", "GRUPO_ETARIO", "ETNIA", "DISCAPACIDAD", 
                "SEXO"]
tab_out1_edu2 = ["asiste_edu_sex", "asiste_edu_eta", "asiste_edu_etni", 
                "asiste_edu_disc",  "titulo_edu_sex"]

for i, k, j in zip(l_var_edu2, l_var_edu_enf, tab_out1_edu2): 
    # víctimas todos los hechos
    df1 = df_vic.groupby([i,k]).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby([i,k]).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby([i,k]).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby([i,k]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    frames_edu2 = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    exec(f"frames_{j} = frames_edu2.copy()")
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on=[i,k]), eval(f"frames_{j}"))
    exec(f"{j}g = df5.copy()")
    # objetos de salida: asiste_edu_sexg, asiste_edu_etag, asiste_edu_etnig, asiste_edu_discg, titulo_edu_sexg

C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2215962857.py:13: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2215962857.py:22: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),

In [747]:
titulo_edu_sexg

,P3043,SEXO,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,1.0,1,51.10,70151.84,51.00,67726.80,27.60,176920.67,30.90,230735.59
1,1.0,2,47.90,72811.71,47.60,70227.77,27.00,167599.11,30.30,223450.29
2,10.0,1,0.00,0.00,0.00,0.00,1.90,515.70,1.80,515.70
3,10.0,2,100.00,10.96,100.00,10.96,2.80,398.29,2.90,406.72
4,2.0,1,41.60,343664.31,42.10,322100.53,20.40,1067435.74,22.70,1330463.51
5,2.0,2,39.10,432345.67,40.10,409220.48,20.10,1085698.95,22.70,1416849.86
6,3.0,1,26.40,15666.07,26.80,14714.35,15.30,68271.74,16.40,80263.92
7,3.0,2,23.80,20467.86,24.10,19413.47,16.20,73794.78,17.20,89474.45
8,4.0,1,37.90,1094.24,40.10,1094.24,32.70,3941.88,33.50,4783.65
9,4.0,2,41.80,3640.61,43.80,3167.49,20.70,10168.55,23.20,12939.67
10,5.0,1,29.40,33688.00,31.30,31454.44,12.20,106282.56,13.80,132058.61
11,5.0,2,30.60,75164.63,31.50,69393.50,13.10,182991.35,15.10,240453.73
12,6.0,1,19.10,10465.29,21.40,9572.79,9.00,46845.43,9.70,54840.45
13,6.0,2,23.20,16848.20,23.70,15628.00,8.00,45480.77,9.40,58365.58
14,7.0,1,21.50,16251.03,24.20,14835.96,6.00,95821.29,6.60,108234.54
15,7.0,2,20.80,25999.83,20.90,20722.20,6.10,115880.12,6.80,135551.91
16,8.0,1,11.20,1575.72,16.40,1441.94,4.90,18421.63,5.10,19625.46
17,8.0,2,16.80,3571.11,15.80,2229.87,5.10,25050.08,5.50,27713.57
18,9.0,1,19.40,1260.53,20.00,1034.22,4.00,7320.29,4.40,8275.86
19,9.0,2,14.00,796.83,9.30,250.78,3.10,5469.38,3.30,6048.29
20,99.0,1,NaN,0.00,NaN,0.00,0.00,0.00,0.00,0.00
21,99.0,2,100.00,165.58,100.00,165.58,0.00,0.00,87.30,127.38

# Mercado laboral

## Indicadores nacionales sin desagregar campesinos

In [ ]:
# crear variable con indicador de tipo de población en cada categoria
def varout(df):
    if df["PET"]==1:
        x= "Población en edad de trabajar"
    elif df["FT_x"]==1:
        x= "Fuerza de trabajo"
    elif df["OCI"]==1:
        x= "Ocupados"
    elif df["DSI"]==1:
        x= "Desocupados"
    elif df["FFT_x"]==1:
        x= "Fuera de la fuerza de trabajo"
    elif df["PER"]==2022:
        x= "Población Total"
    else:
        x= np.nan
    return x

In [792]:
## los modulos del DANE traen las variables dummi de la estructura laboral
# lista de variables

l_var_n = ["PER", "PET", "FT_x", "OCI", "DSI", "FFT_x"]
tab_out1_n = ["per_n", "et_n", "ft_n", "oc_n", "des_n", "fft_n"]

for i, j in zip(l_var_n, tab_out1_n): 
    # víctimas todos los hechos
    df1 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / (( x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round((( x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    frames_lab_n = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    exec(f"frames_{j} = frames_lab_n.copy()")
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on=[i]), eval(f"frames_{j}"))
    exec(f"{j}g = df5.copy()")

In [804]:
## pegue de tablas de salida
pob_lab_ng = pd.concat([per_ng, et_ng, ft_ng, 
                        oc_ng, des_ng, fft_ng], axis=0).reset_index(drop=True)
pob_lab_ng["variable"]= pob_lab_ng.apply(varout, axis=1)

# borrar variables innecesarias
for i in l_var_n:
    pob_lab_ng.drop(columns=i, inplace=True)
# reordenar variables
pob_lab_ng = pob_lab_ng[['variable', '%_vic_hechos', 'vic_hechos', '%_des', 'des', '%_nv', 'no_vic', '%_nal',
       'nal']]

pob_lab_ng

,variable,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,Población Total,100.00,8219191.08,92.30,7587348.08,87.60,44211764.02,100.00,50495179.42
1,Población en edad de trabajar,100.00,6687328.77,91.00,6086580.68,86.90,33889642.74,100.00,38996571.08
2,Fuerza de trabajo,100.00,4147019.71,91.30,3785027.05,87.20,21645893.25,100.00,24813515.96
3,Ocupados,100.00,3629397.61,91.00,3302690.71,87.40,19260550.67,100.00,22032179.97
4,Desocupados,100.00,517622.10,93.20,482336.34,85.80,2385342.58,100.00,2781335.98
5,Fuera de la fuerza de trabajo,100.00,2540309.06,90.60,2301553.63,86.30,12243749.49,100.00,14183055.13

## PET, FT, FFT, TO, TD

In [750]:
## los modulos del DANE traen las variables dummi de la estructura laboral
# lista de variables

l_var = ["PER", "PET", "FT_x", "OCI", "DSI", "FFT_x"]
tab_out1 = ["per", "et", "ft", "oc", "des", "fft"]
#tab_out2 = ["etg", "ftg", "ocg", "desg"]

for i, j in zip(l_var, tab_out1): 
    # víctimas todos los hechos
    df1 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    frames_lab = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    exec(f"frames_{j} = frames_lab.copy()")
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on=[i]), eval(f"frames_{j}"))
    exec(f"{j}g = df5.copy()")

In [751]:
## pegue de tablas de salida
pob_labg = pd.concat([perg, etg, ftg, ocg, desg, fftg], axis=0).reset_index(drop=True)

In [752]:
# etiquetar variables
pob_labg["variable"]= pob_labg.apply(varout, axis=1)

In [753]:
# borrar variables innecesarias
for i in l_var:
    pob_labg.drop(columns=i, inplace=True)
# reordenar variables
pob_labg = pob_labg[['variable', '%_vic_hechos', 'vic_hechos', '%_des', 'des', '%_nv', 'no_vic', '%_nal',
       'nal']]
pob_labg

,variable,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,Población Total,50.80,4176086.96,51.50,3906834.42,26.40,11690949.83,29.50,14886719.75
1,Población en edad de trabajar,51.20,3424311.31,52.30,3181806.45,26.20,8886056.71,29.50,11505171.44
2,Fuerza de trabajo,48.90,2028361.03,50.00,1893336.14,25.20,5450633.26,28.20,7002580.99
3,Ocupados,50.70,1839828.58,52.00,1716407.36,25.70,4947105.70,28.80,6354743.66
4,Desocupados,36.40,188532.45,36.70,176928.78,21.10,503527.56,23.30,647837.33
5,Fuera de la fuerza de trabajo,55.00,1395950.28,56.00,1288470.31,28.10,3435423.44,31.70,4502590.46

## Enfoques diferenciales

In [1178]:
print(len(l_var_lab), len(l_var_lab_enf))

36 36

In [1182]:
# mercado laboral por enfoque
l_var_lab = ["PER", "PET",  "FT_x",
             "OCI", "DSI", "FFT_x"] *6

l_var_lab_enf = (["SEXO"] * 6 + ["GRUPO_ETARIO"] * 6 + 
                 ["ETNIA"] *6 + ["DISCAPACIDAD"]*6 +
                 [["DPTO", "NOMBRE_DPTO"]]*6 +[["COD_DANE", "CIUDAD"]]*6)

#listas para objetos de salida
prefijos_gral  = ["tot", "pet","ft", "oci", "dsi", "fft"] 
pref_enfoques = ["_sex", "_eta", "_etni", "_disca", "_dpto", "_ciud"]

# obejtos de salida
tab_out1_lab_enf = [f"{prefix}{enfoque}" for enfoque in pref_enfoques for prefix in prefijos_gral]

for i, k, j in zip(l_var_lab, l_var_lab_enf, tab_out1_lab_enf): 
    
    if isinstance(k, list): # isinstance retorna true si k es una instancia de la clase list
        group_cols_lab = [i] + k # combina y genera lista con tres variables
    else:
        group_cols_lab = [i, k]
    # víctimas todos los hechos
    df1 = df_vic.groupby(group_cols_lab).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby(group_cols_lab).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby(group_cols_lab).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby(group_cols_lab).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    
    frames_lab_enf = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    exec(f"frames_{j} = frames_lab_enf.copy()")
    
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on= group_cols_lab), eval(f"frames_{j}"))
    exec(f"{j}g = df5.copy()")
    #36 objetos de salida, uno por cada población y enfoque

C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:26: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\761842921.py:35: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),

In [876]:
pref_enfoques

['_sex', '_eta', '_etni', '_disca', '_dpto', '_ciud']

In [1186]:
## pegue de tablas de salida
l_var_lab_enf2 = ["SEXO", "GRUPO_ETARIO",
                 "ETNIA", "DISCAPACIDAD",
                 ["DPTO", "NOMBRE_DPTO"], ["COD_DANE", "CIUDAD"]]

for i, j in zip(pref_enfoques, l_var_lab_enf2):
    
    if isinstance(j, list): 
        var = j #almacena string
    else:
        var = [j] #string covertido en lista
        
    #concatenar para mismo enfoque
    frames_concat = [eval(f"tot{i}g"), eval(f"pet{i}g"), eval(f"ft{i}g"),
                        eval(f"oci{i}g"), eval(f"dsi{i}g"), eval(f"fft{i}g")] 
    
    df6 =  pd.concat(frames_concat, axis=0).reset_index(drop=True)
    # etiquetar variables
    df6["variable"]= df6.apply(varout, axis=1) 
    
    # seleccionar solo las variables necesarias y reordenar  
    
    # se concatenan tres listas, es decir, a la primera lista se le agregan los elementos de las otras dos.
    # la primera y tercera lista son constantes. 
    # La segunda varia ya que cuando j es string, el valor de j se transforma en lista.
    # cuando el valor de j es lista, lo deja igual
    
    columns_to_select = ['variable'] + var + ['%_vic_hechos', 
                                              'vic_hechos', '%_des',
                                              'des', '%_nv', 'no_vic', 
                                              '%_nal', 'nal'] 
    df6 = df6[columns_to_select]
    
    #generar tablas         
    exec(f"pob_lab_enf{i}g = df6.copy()")
    
    #objetos de salida: pob_lab_enf_sexg, pob_lab_enf_etag, pob_lab_enf_etnig,
    # pob_lab_enf_discag, pob_lab_enf_dptog, pob_lab_enf_ciudg

# Vivienda

In [759]:
# lista de variables

l_var_viv = [#déficit cuantitativo
             "DEF_CUANTI", "TIPO_VIVIENDA", "MATERIAL_PAREDES",
             "COHABITACION", "HACI_NO_MITI",
            # déficit cualitativo
             "DEF_CUALI", "HACI_MITI", "MAT_PISOS", "COCINA",
             "ACUEDUCTO", "ALCANTARILLADO", "ENERGIA", "BASURAS",
            # déficit habitacional
             "DEF_HABITACIONAL"]

tab_out1_viv = [#cuanti
                "def_cuantita", "t_vivienda", "mat_paredes", 
                "cohabita", "haci_no_mitiga", 
                #cuali
                "def_cualita", "haci_mitiga", "material_pisos",
                "cocina", "acueducto", "alcantarillado", "energia",
                "basuras", 
                #def habita
                "def_habitacion"]

for i, j in zip(l_var_viv, tab_out1_viv): 
    # víctimas todos los hechos
    df1 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby([i]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    frames_viv = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    exec(f"frames_{j} = frames_viv.copy()")
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on=[i]), eval(f"frames_{j}"))
    exec(f"{j}g = df5.copy()")
    
    # objetos de salida: def_cuantitag, t_viviendag, mat_paredesg, cohabitag, haci_no_mitigag
    # def_cualitag, haci_mitigag, material_pisosg, cocinag, acueductog, alcantarilladog, energiag,basurasg, def_habitaciong

In [760]:
# PRUEBA DE DEFICIT CUANTITATIVO PARA POB NACIONAL VS ECV 2022
a= df_vic.groupby(["PER"]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["DEF_CUANTI"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["DEF_CUANTI"] * x["FEX_C18"]).sum())/12, 3)
        }))
a
# 7,3 GEIH vs 7,3 ENCV

      %_nal        nal
PER
2022   7.30 3669220.60

In [761]:
# PRUEBA DE DEFICIT CUALITATIVO PARA POB NACIONAL VS ECV 2022
b= df_vic.groupby(["PER"]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["DEF_CUALI"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["DEF_CUALI"] * x["FEX_C18"]).sum())/12, 3)
        }))
b
# 26.9 GEIH vs 23,1 ENCV
# 22.1 GEIH (discretas)

      %_nal         nal
PER
2022  26.90 13593853.37

In [762]:
# PRUEBA DE DEFICIT HABITACIONAL PARA POB NACIONAL VS ECV 2022
c= df_vic.groupby(["PER"]).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["DEF_HABITACIONAL"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["DEF_HABITACIONAL"] * x["FEX_C18"]).sum())/12, 3)
        }))
c
# 34.2 GEIH vs 30.4 ENCV
# 29.4 GEIH(discretas)

      %_nal         nal
PER
2022  34.20 17263073.97

### Vivienda Enfoques

In [765]:
# lista de variables
l_var_viv2 = ["DEF_HABITACIONAL"] * 6

l_var_viv_enf = ["SEXO", "GRUPO_ETARIO", "ETNIA", "DISCAPACIDAD", 
                ["DPTO", "NOMBRE_DPTO"], ["COD_DANE", "CIUDAD"]]

tab_out1_viv_enf = ["def_hab_sex", "def_hab_eta","def_hab_etnia",
                    "def_hab_disca","def_hab_dpto", "def_hab_ciud"]

for i, k, j in zip(l_var_viv2, l_var_viv_enf, tab_out1_viv_enf):
    
    if isinstance(k, list): # isinstance retorna true si k es una instancia de la clase list
        group_cols = [i] + k # combina y genera lista con tres variables
    else:
        group_cols = [i, k]
    # víctimas todos los hechos
    df1 = df_vic.groupby(group_cols).apply(
        lambda x: pd.Series({
            # vic totos los hechos
            '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
            'vic_hechos': round((x["CAMPESINA_2"] * x['FEX_C_VIV']).sum(), 3)})
    ).reset_index()
    exec(f"{j}_vt = df1.copy()")
    
    # desplazados
    df2 = df_vic.groupby(group_cols).apply(
        lambda x: pd.Series({
            # vic des
            '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
            'des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
        })
    ).reset_index()
    exec(f"{j}_d = df2.copy()")
    
    # no victimas
    df3 = df_vic.groupby(group_cols).apply(
        lambda x: pd.Series({
            # camp no vic
            '%_nv': round(((x["CAMPESINA_2"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
            'no_vic': round(((x['CAMPESINA_2'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
        })
    ).reset_index()
    exec(f"{j}_nv = df3.copy()")
    
    # Población nacional
    df4 = df_vic.groupby(group_cols).apply(
        lambda x: pd.Series({
            # camp nal
            '%_nal': round(((x["CAMPESINA_2"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
            'nal': round(((x["CAMPESINA_2"] * x["FEX_C18"]).sum())/12, 3)
        })
    ).reset_index()
    exec(f"{j}_nal = df4.copy()")

    from functools import reduce
    # List of DataFrames to merge
    frames_viv_enf = [eval(f"{j}_vt"), eval(f"{j}_d"), eval(f"{j}_nv"), eval(f"{j}_nal")]
    
    exec(f"frames_{j} = frames_viv_enf.copy()")
    
    # Use reduce to iteratively merge the DataFrames
    df5 = reduce(lambda left, right: pd.merge(left, right, on= group_cols), eval(f"frames_{j}"))
    
    exec(f"{j}g = df5.copy()")
    #objetos de salida: def_hab_sexg, def_hab_etag, def_hab_discag, def_hab_dptog, def_hab_ciudg

C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2701199008.py:20: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2701199008.py:29: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2701199008.py:20: RuntimeWarning: invalid value encountered in scalar divide
  '%_vic_hechos': round((x["CAMPESINA_2"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
C:\Users\ivan.corredor\AppData\Local\Temp\3\ipykernel_6692\2701199008.py:29: RuntimeWarning: invalid value encountered in scalar divide
  '%_des': round((x["CAMPESINA_2"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),

In [766]:
def_hab_dptog

,DEF_HABITACIONAL,DPTO,NOMBRE_DPTO,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,0,05,Antioquia,36.00,327337.44,37.30,290679.73,17.30,725963.62,19.90,975489.71
1,0,08,Atlántico,8.50,8344.46,8.00,7311.79,6.10,92944.89,6.20,99299.66
2,0,11,Bogotá,4.50,13186.96,4.60,11719.56,1.60,106542.11,1.70,116594.98
3,0,13,Bolívar,47.80,40659.96,48.60,40378.82,12.10,87904.89,15.00,119166.14
4,0,15,Boyacá,52.90,15504.08,50.70,12921.60,52.50,479000.81,52.50,490766.62
5,0,17,Caldas,39.80,31850.11,40.50,28111.52,18.50,134206.33,20.10,158474.64
6,0,18,Caquetá,44.70,43106.79,44.90,40266.43,31.40,40174.84,36.30,73158.70
7,0,19,Cauca,52.50,103129.54,53.80,90086.39,40.90,265453.62,43.10,343975.04
8,0,20,Cesar,37.70,66737.89,38.10,63663.50,23.20,122788.28,26.10,173936.42
9,0,23,Córdoba,37.40,43669.33,37.80,40804.12,31.70,179541.55,32.50,212956.61
10,0,25,Cundinamarca,43.00,65515.19,43.90,63235.74,27.40,631831.43,28.20,682088.57
11,0,27,Chocó,91.60,120297.55,89.90,95073.71,77.70,72510.89,84.80,163479.27
12,0,41,Huila,43.00,46910.46,44.10,42841.16,39.10,280914.36,39.50,316747.62
13,0,44,La Guajira,35.50,20106.24,36.40,19613.47,28.90,150436.36,29.40,165872.89
14,0,47,Magdalena,37.20,42415.89,38.20,40834.77,19.60,81618.82,22.70,114149.76
15,0,50,Meta,34.10,56313.23,34.80,51378.70,21.40,133134.62,23.50,176147.23
16,0,52,Nariño,73.50,138201.32,74.90,125460.92,52.60,361386.92,56.20,466907.16
17,0,54,Norte de Santander,40.40,62011.92,41.20,52457.42,15.20,136780.80,18.10,183889.02
18,0,63,Quindio,21.20,7880.34,21.60,7088.45,12.80,58105.45,13.30,64118.21
19,0,66,Risaralda,32.80,23199.81,32.10,19355.53,21.20,157256.68,22.00,174863.91
20,0,68,Santander,19.30,24898.21,17.70,19547.94,17.90,280190.37,18.00,299010.18
21,0,70,Sucre,46.40,60097.25,46.20,57823.04,35.20,95830.99,38.20,141920.56
22,0,73,Tolima,40.70,41634.82,40.00,36501.71,25.60,205729.40,27.00,237437.85
23,0,76,Valle del Cauca,19.20,79516.73,18.90,70614.18,11.30,362337.95,12.00,422952.91
24,0,81,Arauca,NaN,0.00,NaN,0.00,13.60,6129.15,13.60,6129.15
25,0,85,Casanare,NaN,0.00,NaN,0.00,6.10,6921.92,6.10,6921.92
26,0,86,Putumayo,NaN,0.00,NaN,0.00,0.90,283.34,0.90,283.34
27,0,88,Providencia y Santa Catalina,NaN,0.00,NaN,0.00,0.20,13.31,0.20,13.31
28,0,91,Amazonas,NaN,0.00,NaN,0.00,0.30,45.73,0.30,45.73
29,0,94,Guainía,NaN,0.00,NaN,0.00,1.80,77.45,1.80,77.45
30,0,95,Guaviare,NaN,0.00,NaN,0.00,18.50,3513.75,18.50,3513.75
31,0,97,Vaupés,NaN,0.00,NaN,0.00,17.50,586.14,17.50,586.14
32,0,99,Vichada,NaN,0.00,NaN,0.00,56.00,101.19,56.00,101.19
33,1,05,Antioquia,69.30,448120.73,69.70,424304.89,52.20,741140.92,56.60,1084384.15
34,1,08,Atlántico,20.40,17703.83,20.10,16990.38,15.30,168623.05,15.50,182197.69
35,1,11,Bogotá,4.30,3385.37,4.50,3385.37,2.20,21172.37,2.30,23776.66
36,1,13,Bolívar,73.00,241644.66,73.00,237554.52,49.00,571322.56,53.30,756959.15
37,1,15,Boyacá,86.90,8761.95,84.80,7355.54,81.30,309982.25,81.40,316634.87
38,1,17,Caldas,68.90,28996.00,69.10,27135.93,50.30,108437.50,52.70,130627.41
39,1,18,Caquetá,67.30,70596.28,66.70,66863.27,72.90,100733.41,70.80,154808.63
40,1,19,Cauca,73.40,155481.06,74.20,147720.80,60.40,310015.16,63.50,429139.05
41,1,20,Cesar,53.20,110771.52,53.30,106645.29,39.10,204488.58,42.40,289445.16
42,1,23,Córdoba,74.60,215513.31,74.50,208448.39,70.60,730239.25,71.30,895587.98
43,1,25,Cundinamarca,69.00,63968.21,68.20,60894.65,54.60,428772.85,55.80,477790.39
44,1,27,Chocó,79.50,187746.24,78.70,171392.87,62.40,145062.33,69.90,288470.93
45,1,41,Huila,62.60,42960.03,62.50,40335.20,62.10,192955.49,62.20,225839.90
46,1,44,La Guajira,43.10,39995.32,43.30,39138.58,28.40,99535.54,30.90,130249.58
47,1,47,Magdalena,58.70,153706.58,59.50,150371.23,47.30,360941.30,49.70,478976.20
48,1,50,Meta,52.80,60628.06,52.60,57115.93,42.40,131909.45,44.70,178330.11
49,1,52,Nariño,85.30,343225.52,85.30,331802.32,80.00,415112.03,82.00,678434.96
50,1,54,Norte de Santander,62.80,97322.98,63.20,93162.44,32.00,174681.62,37.50,249290.41
51,1,63,Quindio,31.30,3511.45,29.50,3106.94,23.40,18656.37,24.10,21332.41
52,1,66,Risaralda,64.20,22278.83,63.80,20631.88,45.80,74039.78,48.40,91075.62
53,1,68,Santander,43.60,39234.38,43.70,36484.80,48.40,309546.03,47.90,339556.59
54,1,70,Sucre,70.20,171762.27,70.00,168571.42,64.30,269241.25,66.10,401175.00
55,1,73,Tolima,75.30,70751.01,75.20,67756.33,67.50,294851.76,68.60,349092.06
56,1,76,Valle del Cauca,34.00,95495.87,33.70,91895.26,26.80,219363.01,28.30,292601.17
57,1,81,Arauca,NaN,0.00,NaN,0.00,21.70,8967.89,21.70,8967.89
58,1,85,Casanare,NaN,0.00,NaN,0.00,8.80,3626.88,8.80,3626.88
59,1,86,Putumayo,NaN,0.00,NaN,0.00,4.30,391.08,4.30,391.08
60,1,88,Providencia y Santa Catalina,NaN,0.00,NaN,0.00,0.30,116.42,0.30,116.42
61,1,91,Amazonas,NaN,0.00,NaN,0.00,1.30,304.20,1.30,304.20
62,1,94,Guainía,NaN,0.00,NaN,0.00,6.80,1290.22,6.80,1290.22
63,1,95,Guaviare,NaN,0.00,NaN,0.00,26.80,5767.54,26.80,5767.54
64,1,97,Vaupés,NaN,0.00,NaN,0.00,26.70,2076.55,26.70,2076.55
65,1,99,Vichada,NaN,0.00,NaN,0.00,46.10,7327.23,46.10,7327.23

# Alguna vez fue campesino

In [768]:
#"P2059": "fue_camp"
fcamp_vt = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # vic totos los hechos
        '%_vic_hechos': round((x["FUERON_CAMPE"] * x['ES_VICTIMA']* x['FEX_C_VIV']).sum() / (x['ES_VICTIMA'] * x['FEX_C_VIV']).sum() * 100, 1),
        'vic_hechos': round((x["FUERON_CAMPE"] * x['FEX_C_VIV']).sum(), 3)})
).reset_index()

fcamp_d = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # vic des
        '%_des': round((x["FUERON_CAMPE"] * x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() / (x['ES_DESPLAZADO'] * x['FEX_C_VIV']).sum() * 100, 1),
        'des': round((x["FUERON_CAMPE"] * x['ES_DESPLAZADO'] *  x['FEX_C_VIV']).sum(), 3)
    })
).reset_index()

fcamp_nv = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # camp no vic
        '%_nv': round(((x["FUERON_CAMPE"] * x["NO_VICTIMA"] * x['FEX_C18']).sum() /12) / ((x["NO_VICTIMA"] * x["FEX_C18"]).sum() /12)* 100, 1),
        'no_vic': round(((x['FUERON_CAMPE'] * x["NO_VICTIMA"]* x["FEX_C18"]).sum() /12), 3)
    })
).reset_index()

fcamp_nal = df_vic.groupby(["PER"]).apply(
    lambda x: pd.Series({
        # camp nal
        '%_nal': round(((x["FUERON_CAMPE"] * x['FEX_C18']).sum()/12) / ((x["FEX_C18"]).sum()/12) * 100, 1),
        'nal': round(((x["FUERON_CAMPE"] * x["FEX_C18"]).sum())/12, 3)
    })
).reset_index()

from functools import reduce
# List of DataFrames to merge
frames_fc = [fcamp_vt, fcamp_d, fcamp_nv, fcamp_nal]

# Use reduce to iteratively merge the DataFrames
fueron_campg = reduce(lambda left, right: pd.merge(left, right, on=["PER"]), frames_fc)
fueron_campg

,PER,%_vic_hechos,vic_hechos,%_des,des,%_nv,no_vic,%_nal,nal
0,2022,3.50,284553.40,3.30,253936.10,3.10,1386177.64,3.20,1603167.83

# Exportar tablas

In [1206]:
salida = p2 + "vic_campesinas_22.xlsx"
writer = pd.ExcelWriter(salida)

# nombres de objetos de salida
tab_out = [
    # general            
    "camp", "sex", "eta", "disca","etnia", 
    "clas", "dpto", "ciud", 
    # educación
    "leer_escribir", "asiste_edu", "institucion", 
    "nivel_edu", "titulo_edu",
    # asistencia edu enfoques
    "asiste_edu_sex", "asiste_edu_eta", "asiste_edu_etni", 
    "asiste_edu_disc", "titulo_edu_sex",
    # déficit cuantitativo
    "def_cuantita", "t_vivienda", "mat_paredes", 
    "cohabita", "haci_no_mitiga",  
    # déficit cualitativo
    "def_cualita", "haci_mitiga", "material_pisos", "cocina",
    "acueducto", "alcantarillado", "energia","basuras", 
    # deficit habitacional
    "def_habitacion",
    # def habita enfoques
    "def_hab_sex", "def_hab_eta", "def_hab_disca",
    "def_hab_dpto", "def_hab_ciud",
    #laboral general
    "pob_lab_n",
    #laboral campesinos
    "pob_lab",
    # laboral enfoques
    "pob_lab_enf_sex", "pob_lab_enf_eta", "pob_lab_enf_etni",
    "pob_lab_enf_disca", "pob_lab_enf_dpto", "pob_lab_enf_ciud",
    #"pob_lab_sex"
    "fueron_camp"]
# listas vacias
tablas = []
pestañas = []

for k in tab_out:
    # nombre de tablas y pestañas
   #The extend() method allows you to append elements from an iterable (like a list)
   #to the end of another list.
    tablas.extend([eval(f"{k}g")])
    pestañas.extend([f"{k}"])

#exportar cada tabla como una pestaña del archivo excel
for i,j in zip(tablas, pestañas):
    i.to_excel(writer, sheet_name = j, header = True, index= True)

writer.close()