In [2]:
import pandas as pd
import numpy as np

### Marco muestral 2005

In [4]:
#principl objects
raw1 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx"

In [5]:
#datos 2019
names_col_19 = ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 19 - Ene 20", 
             "Dic 19 - Feb 20"]

t05_19 = pd.read_excel(raw1,     
                       sheet_name = "areas trim movil", header = 0,
                       skiprows = range(58), nrows = 28,  usecols = "A, HJ:HU", names=names_col_19)

In [6]:
#borrar filas innecesarias y reindexar
t05_19.drop(t05_19.index[4:15], inplace = True)
t05_19.reset_index(drop =True, inplace = True) 
t05_19.drop(t05_19.index[[9,10]],inplace = True) 
t05_19.reset_index(drop =True, inplace = True) 
t05_19.drop(t05_19.index[11:14], inplace = True)

In [7]:
#datos 2020
raw2 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx"

names_col_20= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 20 - Ene 21", 
             "Dic 20 - Feb 21"]

t05_20 = pd.read_excel(raw2, sheet_name = "areas trim movil", header = 0, skiprows = range(58),
                       nrows = 28,  usecols = "A, HV:IG", names = names_col_20)

In [8]:
#borrar filas innecesarias y reindexar
t05_20.drop(t05_20.index[4:15], inplace = True)
t05_20.reset_index(drop =True, inplace = True) 
t05_20.drop(t05_20.index[[9,10]],inplace = True) 
t05_20.reset_index(drop =True, inplace = True) 
t05_20.drop(t05_20.index[11:14], inplace = True)

In [3]:
#datos 2021
raw3 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx"

names_col_21= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic", "Nov 21 - Ene 22", 
             "Dic 21 - Feb 22"]
t05_21 = pd.read_excel(raw3,     
                       sheet_name = "areas trim movil", header = 0,
                       skiprows = range(58), nrows = 28,  usecols = "A, IH:IS", names = names_col_21)

<ipython-input-3-96ad4d31473d>:7: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  t05_21 = pd.read_excel(raw3,
<ipython-input-3-96ad4d31473d>:7: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  t05_21 = pd.read_excel(raw3,

In [10]:
#borrar filas innecesarias y reindexar
t05_21.drop(t05_21.index[4:15], inplace = True)
t05_21.reset_index(drop =True, inplace = True) 
t05_21.drop(t05_21.index[[9,10]],inplace = True) 
t05_21.reset_index(drop =True, inplace = True) 
t05_21.drop(t05_21.index[11:14], inplace = True)

#### Transponer

In [11]:
#establecer indice, renombrar columnas, crear variable de periodo
dfs_05 = [t05_19, t05_20, t05_21]
per = [2019, 2020, 2021]

for i, j, k in zip(dfs_05, range(19,22), per):
    i = i.set_index("Poblaciones")
    exec('t05_{}t = i.transpose().reset_index()'.format(j))
    names =  {"index":"Trimestre","Fuerza de trabajo (población económicamente activa)":"Fuerza de trabajo", "Población fuera de la fuerza de trabajo (inactivos)": "Población fuera de la fuerza laboral"}
    exec('t05_{}t = t05_{}t.rename(columns= names)'.format(j,j))
    exec("t05_{}t.insert(0, 'Periodo',  k)".format(j))
    exec('t05_{}t["Trimestre"] = t05_{}t["Trimestre"].str.strip().str.replace(" ", "").str.lower()'.format(j,j))

In [12]:
### crear variable Subocupados y borrar variables subempleo sub y obj.
dfs_05t = [t05_19t, t05_20t, t05_21t]

for i in (dfs_05t):
    i["Subocupados"] = i["Subempleados Subjetivos"] + i["Subempleados Objetivos"]
    i.drop(columns = ["Subempleados Subjetivos", "Subempleados Objetivos"], inplace = True)

#### Informalidad marco 2005

In [22]:
#crear variable informalidad
#cargar marco 2005 aziz y cargar excel informalidad marco 2018 publicado
raw4 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/Datos_marco_2005_proyecciones_2018.xlsx"
ncol = ["Periodo", "Trimestre", "Informales"]
inf_05_19_21 = pd.read_excel(raw4,     
                       sheet_name = "general", header = 0,
                       nrows = 35,  usecols = "A, B, H", names = ncol)

In [24]:
##limpiar variable trimestre y llevar a miles la var informalidad
inf_05_19_21["Trimestre"] = (pd.Series(inf_05_19_21["Trimestre"],                                
                                         dtype = "string").str.split( r'\d\s', expand = True).get(1))
inf_05_19_21["Informales"] = inf_05_19_21["Informales"]/1000

In [25]:
#filtrar por año
for i, j in zip(per, range(19,22)):
    msk19 = inf_05_19_21["Periodo"] == i
    exec('inf_05_{} = inf_05_19_21[msk19==True]'.format(j))
    exec('inf_05_{}.reset_index(drop =True, inplace = True)'.format(j))

In [26]:
#Agregar variable a cada tabla anual marco 2005
#merge
t05_19t = t05_19t.merge(inf_05_19, how= 'outer', on=['Periodo', 'Trimestre'],validate = '1:1')
t05_20t = t05_20t.merge(inf_05_20, how= 'outer', on=['Periodo', 'Trimestre'],validate = '1:1')
t05_21t = t05_21t.merge(inf_05_21, how= 'outer', on=['Periodo', 'Trimestre'],validate = '1:1')

In [38]:
#imprimir el número completo
# pd.set_option('float_format', '{:f}'.format)

In [51]:
print(t05_21t[["Ocupados"]]*1000)

         Ocupados
0  3602203.101000
1  3626247.613667
2  3646383.055667
3  3597084.276333
4  3687325.227667
5  3725169.323667
6  3821248.085333
7  3882599.249333
8  3871197.685000
9  3825305.171333
10            NaN
11            NaN

In [52]:
print(t05_21t[["TO", "TD"]])

          TO        TD
0  57.000793 19.615274
1  57.310627 18.714925
2  57.560152 17.719420
3  56.713582 17.664468
4  58.068958 16.673301
5  58.598122 15.559071
6  60.043039 14.089686
7  60.941459 12.747072
8  60.698892 12.009742
9  59.918648 10.820269
10       NaN       NaN
11       NaN       NaN

In [27]:
t05_20t

,Periodo,Trimestre,% población en edad de trabajar,TGP,TO,TD,Población total,Población en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,Población fuera de la fuerza laboral,Subocupados,Informales_x,Informales_y
0,2020,ene-mar,80.999005,69.989088,61.723154,11.810318,7664.598667,6208.248667,4345.096621,3831.926883,513.169738,1863.152045,0.000000,2125.310030,2125.310030
1,2020,feb-abr,81.019879,64.720726,55.318372,14.527579,7676.194333,6219.243333,4025.139460,3440.384163,584.755297,2194.103873,0.000000,2438.912221,2438.912221
2,2020,mar-may,81.040604,62.395929,50.448821,19.147254,7687.486333,6229.985333,3887.257197,3142.954173,744.303025,2342.728137,0.000000,2291.738603,2291.738603
3,2020,abr-jun,81.061830,62.305548,47.693970,23.451487,7698.904667,6240.873000,3888.410113,2976.520103,911.890012,2352.462887,0.000000,1610.286276,1610.286276
4,2020,may-jul,81.083801,65.991869,49.510249,24.975228,7709.579000,6251.219667,4125.296705,3094.994428,1030.302277,2125.922961,0.000000,1209.058586,1209.058586
5,2020,jun-ago,81.107986,67.072122,51.057906,23.876113,7719.216000,6260.900667,4199.318924,3196.684802,1002.634123,2061.581742,0.000000,1240.197761,1240.197761
6,2020,jul-sep,81.134126,68.637051,53.707360,21.751649,7727.706333,6269.807000,4303.410614,3367.347846,936.062769,1966.396386,0.000000,1375.351565,1375.351565
7,2020,ago-oct,81.161158,69.811890,56.733675,18.733507,7735.624000,6278.322000,4383.015261,3561.922811,821.092451,1895.306739,1546.628551,1463.790373,1463.790373
8,2020,sep-nov,81.188083,70.832310,58.896045,16.851441,7743.488667,6286.790000,4453.078552,3702.670645,750.407907,1833.711448,1676.969560,1534.290911,1534.290911
9,2020,oct-dic,81.214597,70.904238,59.658488,15.860477,7751.195667,6295.102333,4463.494356,3755.562844,707.931512,1831.607977,1670.177658,1558.010281,1558.010281
10,2020,nov20-ene21,81.241273,70.440443,58.342811,17.174270,7758.892000,6303.422667,4440.158826,3677.593967,762.564858,1863.263841,1528.023248,1544.831393,1544.831393
11,2020,dic20-feb21,81.267793,70.728245,57.282839,19.009953,7766.470333,6311.639000,4464.111492,3615.485989,848.625502,1847.527508,1539.425023,1512.781630,1512.781630

In [28]:
t05_21t

,Periodo,Trimestre,% población en edad de trabajar,TGP,TO,TD,Población total,Población en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,Población fuera de la fuerza laboral,Subocupados,Informales_x,Informales_y
0,2021,ene-mar,81.293586,70.90998,57.000793,19.615274,7773.758,6319.566667,4481.203434,3602.203101,879.000333,1838.363233,1556.553845,1498.870854,1498.870854
1,2021,feb-abr,81.319192,70.50572,57.310627,18.714925,7780.889333,6327.356333,4461.148122,3626.247614,834.900508,1866.208212,1499.072875,1484.243649,1484.243649
2,2021,mar-may,81.344322,69.955938,57.560152,17.71942,7787.77,6334.908667,4431.644804,3646.383056,785.261748,1903.263863,1438.03796,1503.375044,1503.375044
3,2021,abr-jun,81.370083,68.881054,56.713582,17.664468,7794.688667,6342.544667,4368.811613,3597.084276,771.727337,1973.733053,1278.7097,1489.335945,1489.335945
4,2021,may-jul,81.39535,69.688298,58.068958,16.673301,7801.315,6349.907667,4425.142588,3687.325228,737.817361,1924.765078,1253.773473,1502.740422,1502.740422
5,2021,jun-ago,81.420651,69.395402,58.598122,15.559071,7807.783333,6357.148,4411.568394,3725.169324,686.399071,1945.579606,1152.391056,1492.632830,1492.632830
6,2021,jul-sep,81.4457,69.890373,60.043039,14.089686,7814.018,6364.181667,4447.950302,3821.248085,626.702217,1916.231364,1204.437866,1528.317428,1528.317428
7,2021,ago-oct,81.470498,69.844601,60.941459,12.747072,7820.046667,6371.031,4449.821154,3882.599249,567.221904,1921.209846,1196.610901,1568.398439,1568.398439
8,2021,sep-nov,81.495037,68.983651,60.698892,12.009742,7825.884333,6377.707333,4399.575341,3871.197685,528.377656,1978.131992,1146.74105,1581.437285,1581.437285
9,2021,oct-dic,81.519053,67.18864,59.918648,10.820269,7831.5,6384.164667,4289.433383,3825.305171,464.128212,2094.731283,1020.310595,1588.662762,1588.662762
10,2021,nov21-ene22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021,dic21-feb22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Marco muestral 2018

In [61]:
#datos 2021
raw5 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_empleo_jul_22.xlsx"
names_col_21= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 21 - Ene 22", 
             "Dic 21 - Feb 22"]
t18_21 = pd.read_excel(raw5,     
                       sheet_name = "Total 23 ciudades A.M. Trim", header = 0,
                       skiprows = range(31), nrows = 13, usecols = "A:M", names =names_col_21)
t18_21.drop([5], inplace = True)

In [62]:
#datos 2022
names_col_22= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul"]
t18_22 = pd.read_excel(raw5,     
                       sheet_name = "Total 23 ciudades A.M. Trim", header = 0,
                       skiprows = range(31), nrows = 13,  usecols = "A, N:R", names = names_col_22)
t18_22.drop([5], inplace = True)

#### Transponer

In [18]:
#establecer indice, renombrar columnas, crear variable de periodo
dfs_18 = [t18_21, t18_22]
per2 = [2021, 2022]

for i, j, k in zip(dfs_18, range(21,23), per2):
    i = i.set_index("Poblaciones")
    exec('t18_{}t = i.transpose().reset_index()'.format(j))
    names =  {'index':'Trimestre', 'Fuerza de trabajo  ': 'Fuerza de trabajo'}
    exec('t18_{}t = t18_{}t.rename(columns= names)'.format(j,j))
    exec("t18_{}t.insert(0, 'Periodo',  k)".format(j))
    exec('t18_{}t["Trimestre"] = t18_{}t["Trimestre"].str.strip().str.replace(" ", "").str.lower()'.format(j,j))

NameError: name 't18_21' is not defined

#### Informalidad marco 2018

In [64]:
#datos 2021
raw6 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_geih_informalidad_abr22_jun22.xls"
names_col_21= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 21 - Ene 22", 
             "Dic 21 - Feb 22"]
inf_18_21 = pd.read_excel(raw6,     
                       sheet_name = "Ciudades", header = None,
                       skiprows = range(17), nrows = 1, usecols = "B:N", names =names_col_21)

In [65]:
#datos 2022
names_col_22= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun"]
inf_18_22 = pd.read_excel(raw6,     
                       sheet_name = "Ciudades", header = None,
                       skiprows = range(17), nrows = 1, usecols = "B, O:R", names =names_col_22)

In [66]:
#establecer indice, renombrar columnas, crear variable de periodo
dfs_18_inf = [inf_18_21, inf_18_22]
per2 = [2021, 2022]

for i, j, k in zip(dfs_18_inf, range(21,23), per2):
    i = i.set_index("Poblaciones")
    exec('inf_18_{} = i.transpose().reset_index()'.format(j))
    names =  {'index':'Trimestre'}
    exec('inf_18_{} = inf_18_{}.rename(columns= names)'.format(j,j))
    exec("inf_18_{}.insert(0, 'Periodo',  k)".format(j))
    exec('inf_18_{}["Trimestre"] = inf_18_{}["Trimestre"].str.strip().str.replace(" ", "").str.lower()'.format(j,j))

In [67]:
#Agregar variable a cada tabla anual marco 2005
#merge
t18_21t= t18_21t.merge(inf_18_21, how= 'outer', on=['Periodo', 'Trimestre'],validate = '1:1')
t18_22t = t18_22t.merge(inf_18_22, how= 'outer', on=['Periodo', 'Trimestre'],validate = '1:1')

In [68]:
##crear tasa de informalidad
for i in range(21,23):
    exec('t18_{}t["TI"] = t18_{}t["Informales"]/t18_{}t["Ocupados"]*100'.format(i,i,i))

#### Imputar 2019 y 2020

##### Variables poblacionales

In [69]:
t05_19t.columns

Index(['Periodo', 'Trimestre', '% población en edad de trabajar ', 'TGP', 'TO',
       'TD', 'Población total', 'Población en edad de trabajar',
       'Fuerza de trabajo', 'Ocupados', 'Desocupados',
       'Población fuera de la fuerza laboral', 'Subocupados', 'Informales'],
      dtype='object')

In [70]:
#variables
l1 = ['Población en edad de trabajar', 'Fuerza de trabajo',
       'Ocupados', 'Desocupados', 'Población fuera de la fuerza laboral',
       'Subocupados', 'Informales']

In [71]:
t18_21t.columns

Index(['Periodo', 'Trimestre', '% población en edad de trabajar ', 'TGP', 'TO',
       'TD', 'TS', 'Población total', 'Población en edad de trabajar',
       'Fuerza de trabajo', 'Ocupados', 'Desocupados',
       'Población fuera de la fuerza laboral', 'Subocupados', 'Informales',
       'TI'],
      dtype='object', name='Poblaciones')

In [72]:
### 2019_impu  = (2021 marco 2018 / 2021 marco 2005) * 2019 marco 2005
#impuar valores 2019. nan quedan nan
t05_19t_imp = t05_19t.copy()
t05_20t_imp = t05_20t.copy()
for i in (l1):
    t05_19t_imp[i] = (t18_21t[i] / t05_21t[i] * t05_19t[i]).astype(np.double)
    t05_20t_imp[i] = ((t05_19t_imp[i] * (1 + ((t05_20t[i] - t05_19t[i]) / t05_19t[i])))).astype(np.double)

##### Tasas

In [73]:
t05_19t_imp.columns

Index(['Periodo', 'Trimestre', '% población en edad de trabajar ', 'TGP', 'TO',
       'TD', 'Población total', 'Población en edad de trabajar',
       'Fuerza de trabajo', 'Ocupados', 'Desocupados',
       'Población fuera de la fuerza laboral', 'Subocupados', 'Informales'],
      dtype='object')

In [74]:
#variables
l2 = ["% población en edad de trabajar ", "TGP","TO","TD", "TS", "TI"]
l3_n = ["Población en edad de trabajar", "Fuerza de trabajo","Ocupados",
        "Desocupados", "Subocupados", "Informales"]
l4_d = ["Población total", "Población en edad de trabajar","Población en edad de trabajar",
        "Fuerza de trabajo", "Ocupados", "Ocupados"]

In [75]:
### 2019_impu  = (2021 marco 2018 / 2021 marco 2005) * 2019 marco 2005
#impuar valores 2019. nan quedan nan
for i, j, k in zip(l2, l3_n, l4_d):
    t05_19t_imp[i] = (t05_19t_imp[j] / t05_19t_imp[k]*100).astype(np.double)
    t05_20t_imp[i] = (t05_20t_imp[j] / t05_20t_imp[k]*100).astype(np.double)

In [76]:
t05_19t_imp = t05_19t_imp.reindex(columns=['Periodo', 'Trimestre', '% población en edad de trabajar ', 
                                           'TGP', 'TO', 'TD','TS','TI', 'Población total',
                                           'Población en edad de trabajar','Fuerza de trabajo',
                                           'Ocupados', 'Desocupados',
                                           'Población fuera de la fuerza laboral', 'Subocupados', 
                                           'Informales'])
t05_20t_imp = t05_20t_imp.reindex(columns=['Periodo', 'Trimestre', '% población en edad de trabajar ', 
                                           'TGP', 'TO', 'TD','TS', 'TI','Población total',
                                           'Población en edad de trabajar','Fuerza de trabajo',
                                           'Ocupados', 'Desocupados',
                                           'Población fuera de la fuerza laboral', 'Subocupados', 
                                           'Informales'])

#### Concatenar

In [77]:
lframe = [t05_19t_imp, t05_20t_imp, t18_21t, t18_22t]

In [78]:
ml_pob_impu_19_22 = pd.concat(lframe, axis = 0, join = 'outer', sort = False)

In [79]:
#poblaciones a millones enteros
l_5 = ['Población total', 'Población en edad de trabajar', 'Fuerza de trabajo',
       'Ocupados', 'Desocupados', 'Población fuera de la fuerza laboral',
       'Subocupados', 'Informales']
for i in (l_5):
    ml_pob_impu_19_22[i] = ml_pob_impu_19_22[i]*1000 #np.around(ml_pob_impu_19_22[i], 0)

In [80]:
#tasas a 3 decimales
# l_6 = ["% población en edad de trabajar ", "TGP","TO","TD", "TS", "TI"]
# for j in (l_6):
#     ml_pob_impu_19_22[j] = np.around(ml_pob_impu_19_22[j], 3)

In [81]:
### marca valores imputados
def m_imp(df):
    if ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.notnull(df["Población en edad de trabajar"]))): 
        x = 1
    elif ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.isnull(df["Población en edad de trabajar"]))):
        x = np.nan
    else:
        x = 0
    return(x)

In [82]:
ml_pob_impu_19_22["valor Imputado"] = ml_pob_impu_19_22.apply(m_imp, axis=1)

In [83]:
#ml_pob_impu_19_22.info()

In [84]:
ml_pob_impu_19_22.tail(15)

,Periodo,Trimestre,% población en edad de trabajar,TGP,TO,TD,TS,TI,Población total,Población en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,Población fuera de la fuerza laboral,Subocupados,Informales,valor Imputado
1,2021,feb-abr,81.319192,69.492535,56.427774,18.800237,7.635219,39.545104,7.780889e+06,6.327356e+06,4.397040e+06,3.570386e+06,826654.000000,1.930316e+06,335723.666667,1.411913e+06,0.0
2,2021,mar-may,81.344322,68.464891,56.388879,17.638255,7.327873,38.844658,7.787770e+06,6.334909e+06,4.337188e+06,3.572184e+06,765004.333333,1.997720e+06,317823.666667,1.387603e+06,0.0
3,2021,abr-jun,81.370083,67.995643,55.988653,17.658469,7.117056,39.032851,7.794689e+06,6.342545e+06,4.312654e+06,3.551105e+06,761548.666667,2.029891e+06,306934.000000,1.386098e+06,0.0
4,2021,may-jul,81.395350,67.220825,55.953433,16.761758,7.189931,37.777107,7.801315e+06,6.349908e+06,4.268460e+06,3.552991e+06,715469.000000,2.081447e+06,306899.333333,1.342217e+06,0.0
5,2021,jun-ago,81.420651,67.536973,56.868394,15.796649,7.301583,38.368230,7.807783e+06,6.357148e+06,4.293425e+06,3.615208e+06,678217.333333,2.063723e+06,313488.000000,1.387091e+06,0.0
6,2021,jul-sep,81.445700,67.379702,57.965494,13.971876,7.030744,37.196361,7.814018e+06,6.364182e+06,4.288167e+06,3.689029e+06,599137.333333,2.076015e+06,301490.000000,1.372185e+06,0.0
7,2021,ago-oct,81.470498,67.022104,58.002894,13.457068,6.448393,37.280933,7.820047e+06,6.371031e+06,4.269999e+06,3.695382e+06,574616.666667,2.101032e+06,275346.333333,1.377673e+06,0.0
8,2021,sep-nov,81.495037,66.432352,57.773640,13.033879,5.469104,35.413118,7.825884e+06,6.377707e+06,4.236861e+06,3.684634e+06,552227.333333,2.140846e+06,231718.333333,1.304844e+06,0.0
9,2021,oct-dic,81.519053,65.527153,57.068902,12.908001,4.767155,35.412253,7.831500e+06,6.384165e+06,4.183361e+06,3.643373e+06,539988.333333,2.200803e+06,199427.333333,1.290200e+06,0.0
10,2021,nov21-ene22,81.543071,66.192299,57.002160,13.883984,4.137600,33.413096,7.837041e+06,6.390564e+06,4.230061e+06,3.642759e+06,587301.000000,2.160503e+06,175023.000000,1.217159e+06,0.0
11,2021,dic21-feb22,81.566819,66.668103,57.205338,14.193826,4.946934,33.639087,7.842472e+06,6.396855e+06,4.264662e+06,3.659342e+06,605318.666667,2.132193e+06,210970.000000,1.230969e+06,0.0
0,2022,ene-mar,81.589796,67.694799,57.808073,14.604845,5.288561,34.667062,7.847708e+06,6.402929e+06,4.334450e+06,3.701410e+06,633039.666667,2.068479e+06,229230.000000,1.283170e+06,0.0
1,2022,feb-abr,81.612495,67.544741,59.038378,12.593664,5.587364,35.953131,7.852885e+06,6.408936e+06,4.328899e+06,3.783732e+06,545167.000000,2.080037e+06,241871.333333,1.360370e+06,0.0
2,2022,mar-may,81.634677,67.275374,59.535831,11.504274,4.680614,36.867082,7.857974e+06,6.414832e+06,4.315602e+06,3.819123e+06,496478.666667,2.099230e+06,201996.666667,1.407999e+06,0.0
3,2022,abr-jun,81.657334,66.914245,59.466580,11.130165,5.030515,36.204007,7.863228e+06,6.420902e+06,4.296498e+06,3.818291e+06,478207.333333,2.124404e+06,216136.000000,1.382374e+06,0.0

In [85]:
ml_pob_impu_19_22.to_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx",     
                       sheet_name = "bogotá trim movil", header = True, index=False)